@{
    ViewData["Title"] = "Зміну відхилено";
}

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-body text-center">
            <i class="fas fa-times-circle text-danger" style="font-size: 48px;"></i>
            <h2 class="text-danger mt-3 mb-4">Зміну ролі відхилено</h2>
            <p>Ви відхилили запит на зміну ролі. Ваша поточна роль залишається незмінною.</p>
            <a href="/" class="btn btn-primary mt-3">На головну</a>
        </div>
    </div>
</div>